:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1280px) 1fr;
  gap: 16px;
  grid-template-areas: "left content right";
}

.recipes {
  grid-area: content;
  display: grid;
  align-items: start;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.recipe__card {
  border: 1px solid #858585;
  border-radius: 8px;
  padding: 16px;
}

.recipe__card--recipe {
  .show-more {
    display: none;
  }

  &:has(.recipe__ingredient:nth-child(11)) {
    .show-more {
      display: block;
    }
  }

  .recipe__ingredient:nth-child(n + 11) {
    display: none;
  }

  .show-more__less-link {
    display: none;
  }

  &:target {
    .recipe__ingredient {
      display: block;
    }

    .show-more__more-link {
      display: none;
    }

    .show-more__less-link {
      display: block;
    }
  }
}

.recipe__ingredients {
  list-style-type: none;
  padding: 0;
}

.recipe__ingredient--label {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.recipe__card--method {
  .recipe-method {
    line-clamp: 10;
  }

  .visibility-checkbox {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .visibility-checkbox:checked + .recipe-method {
    line-clamp: unset;

    + .show-more label {
      &::after {
        content: " less";
      }
    }
  }

  .show-more label {
    &::after {
      content: " more";
    }
  }
}
